<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <a href="/">Home</a>
        <h1 class="text-center">About</h1>
        <h1>We are ...</h1>
        <div class="contents-center">
            <img src="/images/robot.png">
        </div>
    </body>
</html>