<!DOCTYPE html>
<html>
    <title></title>
    <body>
        <h1>Create New Post</h1>
        <form action="/posts/create" method="post">
            <p>Title</p>
            <input type="text" name="title">
            <p>Content</p>
            <textarea name="content"></textarea>
            <p>User ID</p>
            <input type="number" name="user_id">
            <input type="submit">
        </form>
    </body>
</html>