<!DOCTYPE html>
<html>
    <title></title>
    <body>
        <h1><%= post.title %> </h1>
        <h2>Post ID: <%= post.id %></h2>
        <h2>Content: <%= post.content %></h2>
        <h2>User ID: <%= post.user_id %></h2>
    </body>
    <a href="/posts">POSTS</a>
</html>